.main-footer {
  color: #00bb8c;
  background-color: rgb(230, 230, 230);
  padding-top: 3em;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  font-size: small;
}

.logo {
  background-size: cover;
}
